
html{
  width: 100%;
  height: 100%;
  overflow: auto;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  // font-family: PingFangSC-Regular,'microsoft yahei';
  color: #314057;
  font-size: 14px;
  overflow: auto;
}
p,ul,li,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
ol,ul,dt {
    font-weight: normal;
    list-style: none;
}


.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}

body{
  .top_img{
    width: 100%;
    height: 690px;
    display: block;
    background: url('/static/tuiguang_pic1@3x.jpg') no-repeat;
    background-size: cover;
  }
  .content_middle{
    width: 100%;
    height: 433px;
    display: block;
    background: url('/static/tuiguang_pic2@3x.jpg') no-repeat;
    background-size: cover;    
    position: relative;
  }
  .content_bottom{
    width: 100%;
    height: 711px;
    background: url('/static/tuiguang_pic3@3x.jpg') no-repeat;
    background-size: cover;
    position: relative;
  }
}

#demo{
  overflow:hidden;
  height:148px;
  width: 72%;
  margin: auto;
  position: relative;
  top: 70px;
  ul{
    li{
      height: 148px;
      padding: 0 20px;
      &:first-child{
        div{
          &:first-child{
            border-top: 2px solid #E0B695;
          }
        }
      }
      div{
        height: 74px;
        box-sizing: border-box;
        line-height: 74px;
        font-size: 22px;
        color: #A72E00;
        text-align: left;
        border-bottom: 2px solid #E0B695;
        overflow: hidden;
      }
    }
  }
}

.content_btn{
  height: 120px;
  background: url('/static/tuiguang_button1@3x.png') no-repeat;
  background-size: cover;
  width: 580px;
  position: absolute;
  bottom: 16px;
  left:0;
  right: 0;
  margin: auto;
  font-family: PingFangSC-Medium;
  font-size: 34px;
  font-weight: 600;
  color: #A72E00;
  text-align: center;
  line-height: 120px;
  animation: revolving 1s infinite alternate;
  cursor: pointer;
}
@keyframes revolving{
  from {transform:scale(1);}
  to {transform:scale(1.05);}
}


.content_bottom_btn{
  background: url('/static/tuiguang_button2@3x.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 93px;
  left: 135px;
  width: 156px;
  height: 25px;
  cursor: pointer;
}
